<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>NETZACH</string>
	<key>subtitle</key>
	<string>Endurance, Fortitude, Ambition</string>
	<key>content</key>
	<string>Endurance and ambition is a combination of determination and tenacity. It is a balance of patience, persistence and guts. Endurance is also being reliable and accountable, which establishes security and commitment. Without endurance, any good endeavor or intention has no chance of success.

Endurance means to be alive, to be driven by healthy and productive goals. It is the readiness to fight for what you believe, to go all the way. Without such commitment any undertaking remains flat and empty. It is an energy that comes from within and stops at nothing to achieve its goals. This, of course, requires that endurance be closely examined to ensure that it is used in a healthy and productive manner.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>95c58b</string>
	<key>secondaryColor</key>
	<string>6c9165</string>
</dict>
</plist>
