<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>YESOD</string>
	<key>subtitle</key>
	<string>Bonding, Foundation</string>
	<key>content</key>
	<string>Bonding is the ultimate emotional connection. While the first five qualities (love, discipline, compassion, endurance and humility) are interactive, they still manifest duality: the lover and the beloved. The emphasis is on an individual&apos;s feelings, not necessarily on mutuality. Bonding, on the other hand, is a complete fusion of the two.

Without bonding no feeling can be truly realized. Bonding means connecting; not only feeling for another, but being attached to him. Not just a token commitment, but total devotion. It creates a channel between giver and receiver. Bonding is eternal. It develops an everlasting union that lives on forever through the perpetual fruit it bears.

Bonding is the foundation of life. The emotional spine of the human psyche. Every person needs bonding to flourish and grow. The bonding between mother and child; between husband and wife; between brothers and sisters; between close friends. Bonding is affirmation; it gives one the sense of belonging; that &quot;I matter,&quot; &quot;I am significant and important.&quot; It establishes trust -- trust in yourself and trust in others. It instills confidence. Without bonding and nurturing we cannot realize and be ourselves.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>ad8cc5</string>
	<key>secondaryColor</key>
	<string>806892</string>
</dict>
</plist>
