<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>TIFERET</string>
	<key>subtitle</key>
	<string>Compassion, Harmony, Truth</string>
	<key>content</key>
	<string>Tiferet -- compassion blends and harmonizes the free outpouring love of chesed with the discipline of gevurah. Tiferet possesses this power by introducing a third dimension -- the dimension of truth, which is neither love nor discipline and therefore can integrate the two. Truth is accessed through selflessness: rising above your ego and your predispositions, enabling you to realize a higher truth. Truth gives you a clear and objective picture of your and others&apos; needs. The imbalance of love and discipline (and for that matter, any distortion) is a result of a subjective, hence limited perspective. Introducing truth, by suspending personal prejudices, allows you to express your feelings (including the synthesis of chesed and gevurah) in the healthiest manner.

This quality gives TIFERET its name, which means BEAUTY: it blends the differing colors of love and discipline, and this harmony makes it beautiful.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>e1ce6f</string>
	<key>secondaryColor</key>
	<string>ab9525</string>
</dict>
</plist>
