<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>HOD</string>
	<key>subtitle</key>
	<string>Humility, Splendor</string>
	<key>content</key>
	<string>If endurance is the engine of life, humility is its fuel. As gevurah (discipline) gives chesed (love) focus, HOD gives netzach (endurance) direction. Humility is the silent partner of endurance. Its strength is in its silence. Its splendor is in its repose. Humility - and the resulting yielding - should not be confused with weakness and lack of self-esteem.

Humility is modesty; it is acknowledgment (from the root of the Hebrew word, &quot;hoda&apos;ah&quot;). It is saying &quot;thank you&quot; to G-d. It is clearly recognizing your qualities and strengths and acknowledging that they are not your own; they were given to you by G-d for a higher purpose than just satisfying your own needs. Humility is modesty; it is recognizing how small you are which allows you to realize how large you can become. And that makes humility so formidable.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>f97d39</string>
	<key>secondaryColor</key>
	<string>d16a32</string>
</dict>
</plist>
