<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>CHESED</string>
	<key>subtitle</key>
	<string>Lovingkindness; Benevolence</string>
	<key>content</key>
	<string>Love is the single most powerful and necessary component in life. Love is the origin and foundation of all human interactions. It is both giving and receiving. It allows us to reach above and beyond ourselves; to experience another person and to allow that person to experience us. It is the tool by which we learn to experience the highest reality -- G-d.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>89cbc7</string>
	<key>secondaryColor</key>
	<string>278d82</string>
</dict>
</plist>
