<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>MALCHUT</string>
	<key>subtitle</key>
	<string>Nobility, Sovereignty, Leadership</string>
	<key>content</key>
	<string>Sovereignty -- the last of the seven attributes -- is different from the previous six. It is a state of being rather than an activity. Nobility is a passive expression of human dignity which has nothing of its own except that which it receives from the other six emotions. True leadership is the art of selflessness; it is only a reflection of a Higher will. On the other hand, malchut manifests and actualizes the character and majesty of the human spirit. It is the very fiber of what makes us human.

When love, discipline, compassion, endurance and humility are properly channeled into the psyche through bonding, the result is malchut. Bonding nurtures us and allows our sovereignty to surface and flourish. Malchut is the receptivity to all the emotions that are funneled through Yesod.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>e46793</string>
	<key>secondaryColor</key>
	<string>ba5377</string>
</dict>
</plist>
