<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>GEVURAH</string>
	<key>subtitle</key>
	<string>Justice, Discipline, Restraint, Awe</string>
	<key>content</key>
	<string>If love (chesed) is the bedrock of human expression, discipline (gevurah) is the channel through which we express love. It gives our life and love direction and focus. Like a laser beam, its potency lies in the focus and concentration of light in one direction, rather than fragmented light beams dispersed in all different directions. Gevurah - discipline and measure - concentrates and directs our efforts, our love, in the proper directions.

Another aspect of gevurah is respect and awe. Healthy love requires respect for the one you love.

Learn more. Download Omer Webinar:
https://www.meaningfullife.com/webinars/omer-webinar-discover-new-way/?utm_source=Meaningful+Life+Center&#38;utm_campaign=573c4f04d5-MyOmer%20App&#38;utm_medium=email&#38;utm_term=0_0bcb4308af-573c4f04d5-82200457</string>
	<key>color</key>
	<string>e87071</string>
	<key>secondaryColor</key>
	<string>c3484e</string>
</dict>
</plist>
