<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

	<dict>
		<key>start</key>
		<date>2018-03-30T19:00:00Z</date>
		<key>end</key>
		<date>2018-05-19T06:59:59Z</date>
		<key>reminders</key>
		<array>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<true/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<true/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<true/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<false/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
			<dict>
				<key>early</key>
				<true/>
				<key>late</key>
				<false/>
				<key>dayEarly</key>
				<false/>
				<key>2daysEarly</key>
				<false/>
			</dict>
		</array>
	</dict>


</plist>
